<div class="p-10">
  <h1 class="text-4xl font-bold text-green-600 bg-blue-100">
    Minha primeira página Rails 🚀
  </h1>

  <p class="mt-4 text-gray-700">
    Estou aprendendo Rails com Docker 😎
  </p>
</div>