<% content_for(:title) { "Posts" } %>

<div class="w-full lg:w-[90vw] mx-auto py-10">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Posts</h1>
    <%= link_to "New post", new_post_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div id="posts" class="min-w-full divide-y divide-gray-200 space-y-5">
   <% if @posts.any? %>
    <div class="grid md:grid-cols-4 gap-5">
      <% @posts.each do |post| %>
        <%= render post%>
      <%end%>
    </div>
   <%end%>
  </div>
</div>
